# Tar bort filer ifrån kod-sökningen (linguist) på förstasidan: https://github.com/pownas/ArvidsonFoto-MVC-NET5
## vendored:
ArvidsonFoto/wwwroot/lib/** linguist-vendored

## documentations:
ArvidsonFoto/wwwroot/lib/** linguist-documentation
###ArvidsonFoto/wwwroot/lib/bootstrap-icons/docs/* linguist-documentation
 
# För mer information
### se sidan: https://github.com/github/linguist#overrides
### eller: https://github.com/github/linguist/discussions/5175
