@model ArvidsonFoto.ViewComponents.CategoryTooltipViewModel

<a href="@Model.Url" 
   class="has-category-tooltip @Model.CssClass" 
   data-category-id="@Model.CategoryId">
    @Model.CategoryName
</a>
