<form asp-controller="Bilder" asp-action="@(nameof(BilderController.Search))" method="get" class="d-flex gap-2" role="search">
    <div class="flex-grow-1">
        <input name="s" class="form-control form-control-lg" type="search" placeholder="Sök efter kategori..." aria-label="Sök ruta" autofocus>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">
        <i class="bi bi-search"></i> Sök
    </button>
</form>