@model UploadImageInputModel
<form method="post" asp-action="CreateImageLink" class="col-12 col-sm-6">
    @*<!-- asp-route-Page="@Model.ReturnPageUrl" -->*@
    @Html.AntiForgeryToken()
    <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ImageHuvudfamilj" hidden />
    <input asp-for="ImageFamilj" hidden />
    <input asp-for="ImageArt" hidden />
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <div>
            <input asp-for="ImageUrl" placeholder="Filnamnet UTAN .jpg, t.ex: IMG_1234" class="form-control" />
            <span asp-validation-for="ImageUrl"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageDate" class="control-label"></label>
        <div>
            <input asp-for="ImageDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="YYYY-MM-DD" class="form-control" />
            <span asp-validation-for="ImageDate"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageDescription" class="control-label"></label>
        <div>
            <input asp-for="ImageDescription" placeholder="@Html.DisplayNameFor(model => model.ImageDescription)" class="form-control" />
            <span asp-validation-for="ImageDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="m-3 p-2">
            @*<a onclick="alert('Hoppsan, denna funktionen fungerar inte än!')" class="btn btn-light btn-outline-primary text-dark">
                    <i class="bi bi-link-45deg"></i> Länka bilden
                </a>*@
            <button id="SubmitButton" type="submit" class="btn btn-light btn-outline-primary text-dark"><i class="bi bi-link-45deg"></i> Länka bilden</button>
        </div>
    </div>
</form>