@model UploadImageInputDto
<form method="post" asp-controller="UploadAdmin" asp-action="@(nameof(UploadAdminController.CreateImageLink))" class="col-12 col-sm-6">
    @Html.AntiForgeryToken()
    <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ImageHuvudfamilj" hidden />
    <input asp-for="ImageFamilj" hidden />
    <input asp-for="ImageArt" hidden />
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <div>
            <input asp-for="ImageUrl" placeholder="Filnamnet UTAN .jpg, t.ex: 'TA1_1234'" class="form-control" />
            <span asp-validation-for="ImageUrl"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageDate" class="control-label"></label>
        <div>
            <input asp-for="ImageDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" placeholder="ÅÅÅÅ-MM-DD" class="form-control" />
            <span asp-validation-for="ImageDate"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageDescription" class="control-label"></label>
        <div>
            <input asp-for="ImageDescription" placeholder="" class="form-control" />
            <span asp-validation-for="ImageDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="m-3 p-2">
            <button id="SubmitButton" type="submit" class="btn btn-light btn-outline-primary text-dark"><i class="bi bi-link-45deg"></i> Länka bilden</button>
        </div>
    </div>
</form>