@model UploadToFacebookViewModel
@inject ICategoryService _categoryService
@section MetaData {
    <meta name="robots" content="noindex" />
}
@{
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.FacebookUpload;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-facebook ml-1"></i></li>
    </ol>
</nav>
<h2 class="offset-md-4"><i class="bi bi-facebook mr-2"></i>@ViewData["Title"]</h2>

<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <p>Här kan du skapa ett facebook inlägg:</p>
        //Create facebook upload 
        <form action="/" method="post">
        <!-- Create facebook upload form to upload a facebook pages post with images -->
        <div class="form-group">
            <label asp-for="FacebookPostInputModel.FacebookPageId"></label>
            <input asp-for="FacebookPostInputModel.FacebookPageId" class="form-control" />
            <span asp-validation-for="FacebookPostInputModel.FacebookPageId" class="text-danger"></span>
        </div>
        
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}