@*<!-- UploadAdmin-index -->*@
@section MetaData { 
    <meta name="robots" content="noindex" />
}
@{
    ViewData["ActiveUploadPage"] = UploadAdminNavPages.Index;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item active" aria-current="page">Upload Admin<i class="bi bi-cloud-upload ml-1"></i></li>
    </ol>
</nav>
<h1 class="offset-md-4"><i class="bi bi-cloud-upload mr-2"></i>@ViewData["Title"]</h1>

<div class="row">
    <nav class="nav nav-pills col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <h3>Välkommen till Upload Admin!</h3>

        <p>Välj språk <partial name="_ChooseLanguage" /> - Nuvarande: @Localizer["Svenska"]</p>
        <p>Här visas lite statistik för hemsidan:</p>
        <div id="page-statistics">
            <partial name="_HomepageStatistics" />
        </div>
    </div>
</div>