@inject ICategoryService _categoryService
@section MetaData {
    <meta name="robots" content="noindex" />
}
@{

}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/UploadAdmin">Upload Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi bi-file-font ml-1"></i></li>
    </ol>
</nav>
<h1><i class="bi bi-file-font mr-2"></i>@ViewData["Title"]</h1>

<div class="row">
    <nav class="nav col-12 col-md-4 p-0">
        <ul class="p-0 col-11">
            <partial name="_NavUploadAdmin" />
        </ul>
    </nav>
    <div class="col-12 col-md-8">
        <p>Här kan du lägga till en ny kategori på hemsidan:</p>
        <select>Välj?</select>
    </div>
</div>