@*<!-- Senast-index -->*@
@model GalleryViewModel

@section MetaData {
    <meta name="robots" content="noimageindex, nofollow" />
    <meta name="description" content="Torbjörn Arvidson Foto - Senast @ViewData["Title"]. Bilder på djur och natur. Antal bilder: @if (Model.AllImagesList is not null) {@Model.AllImagesList.Count} else {@("0")}st" />
    <link rel="canonical" href="https://ArvidsonFoto.se/@Model.CurrentUrl" />
}

@{
    string classIcon = "bi-camera";
    classIcon = ViewData["Title"].Equals("Uppladdad") ? "bi-calendar-week" : classIcon;
    classIcon = ViewData["Title"].Equals("Per kategori") ? "bi-grid-3x3-gap" : classIcon;
}
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Senast">Senast</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]<i class="bi @classIcon mx-1"></i></li>
    </ol>
</nav>

<h1>Senast - @ViewData["Title"] <i class="bi @classIcon"></i></h1>

@if (ViewData["Title"].Equals("Per kategori"))
{
    <partial name="../Bilder/_PageCounter" model="Model" /> @*<!-- Sidräknare via PartialView -->*@
}
<partial name="../Bilder/_Gallery" model="Model" /> @*<!-- Galleriet via PartialView -->*@

<partial name="../Bilder/_PageCounter" model="Model" /> @*<!-- Sidräknare via PartialView -->*@
@if (ViewData["Title"].Equals("Per kategori"))
{
    <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
            <h3>Sök bland kategorierna</h3>
            <p>
                Du kan även söka bland kategorierna här nedan eller se alla kategorier via: 
                <a href="/Info/Sidkarta" title="ArvidsonFoto.se/Info/Sidkartan">Sidkartan <i class="bi bi-diagram-3"></i></a>
            </p>
        </div>
        <div id="searchbar" class="mb-4">
            <partial name="../Bilder/_SearchBar" /> @*<!-- Sökruta via PartialView -->*@
        </div>
    </div>
}