@section MetaData {
    <meta name="robots" content="noimageindex" />
    <meta name="description" content="Copyright och upphovsrätt för bilder på ArvidsonFoto.se. Alla bilder tillhör fotografen Torbjörn Arvidson och får inte användas utan tillstånd." />
    <link rel="canonical" href="https://ArvidsonFoto.se/Info/Copyright" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Copyright - Torbjörn Arvidson Foto">
    <meta name="twitter:description" content="Copyright och upphovsrätt för bilder på ArvidsonFoto.se. Alla bilder tillhör fotografen Torbjörn Arvidson och får inte användas utan tillstånd.">
    <meta name="twitter:image" content="https://ArvidsonFoto.se/img/Torbjorn2020.jpg">

    <!-- Open Graph for social media sharing -->
    <meta property="og:title" content="Copyright - Torbjörn Arvidson Foto" />
    <meta property="og:description" content="Copyright och upphovsrätt för bilder på ArvidsonFoto.se. Alla bilder tillhör fotografen Torbjörn Arvidson och får inte användas utan tillstånd." />
    <meta property="og:image" content="https://ArvidsonFoto.se/img/Torbjorn2020.jpg" />
    <meta property="og:url" content="https://ArvidsonFoto.se/Info/Copyright" />
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Copyright &copy;</li>
    </ol>
</nav>

<h2>Copyright &copy; 2003–@DateTime.Now.Year Torbjörn Arvidson</h2>

<div id="page-content" class="brodtext">
    <p>Alla rättigheter förbehållna fotografen.</p>
    <p>&copy; Alla bilder är skyddade av upphovsrätten och får inte laddas ner utan tillstånd. </p>
</div>