<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Copyright &copy;</li>
    </ol>
</nav>

<h1>Copyright &copy; @DateTime.Now.Year Torbjörn Arvidson</h1>

<div id="page-content" class="brodtext">
    <p>Alla rättigheter förbehållna fotografen.</p>
    <p>&copy; Alla bilder är skyddade av upphovsrätten och får inte laddas ner utan tillstånd. </p>
</div>