@model GuestbookInputModel

@section MetaData {
    <meta name="robots" content="noimageindex" />
}

@inject IGuestBookService _guestBookService
@{
    List<TblGb> gbListView = new List<TblGb>();
    gbListView = _guestBookService.GetAll();
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gästbok<i class="bi bi-book mx-1"></i></li>
    </ol>
</nav>

<h1><i class="bi bi-book"></i> @ViewData["Title"]</h1>

<div id="page-content" class="brodtext">
    <form class="form-horizontal" asp-action="PostToGb" method="post">
        <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
        @if (Model.DisplayErrorPublish)
        {<div class="ml-3"><p class="badge badge-danger">Något gick fel när meddelandet skulle skickas...</p></div>}
        @if (Model.DisplayPublished)
        {<div class="ml-3"><p class="badge badge-success">Meddelandet skickat!</p></div>}
        <div class="form-row">
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Name" class="ml-2 control-label">Namn</label>
                <div>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Namn (blank för anonym)">
                    <span asp-validation-for="Name" class="ml-2"></span>
                </div>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Email" class="ml-2 control-label">Epost</label>
                <div>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Epost (visas ej)">
                    <span asp-validation-for="Email" class="ml-2"></span>
                </div>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Homepage" class="ml-2 control-label">Hemsida</label>
                <div>
                    <input asp-for="Homepage" type="url" class="form-control" placeholder="Hemsida (om du vill)">
                    <span asp-validation-for="Homepage" class="ml-2"></span>
                </div>
                <div class="ml-2 mt-1">
                    <img src="/img/a575grj5dgs575389aw.gif" class="img-responsive">
                </div>
                <label asp-for="Code" class="ml-2 control-label">Ange siffrorna från bilden</label>
                <div>
                    <input asp-for="Code" class="form-control" placeholder="Siffror">
                    <span asp-validation-for="Code" class="ml-2"></span>
                </div>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Message" class="ml-2 control-label">Meddelande</label>
                <div>
                    <textarea asp-for="Message" class="form-control" placeholder="Meddelande" rows="5"></textarea>
                    <span asp-validation-for="Message"></span>
                </div>
                <div class="text-right mt-2">
                    <button id="SubmitButton" type="submit" class="btn btn-light btn-outline-primary text-dark">Skicka inlägget</button>
                </div>
            </div>
        </div>
    </form>
    <div class="infotable row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        @if (_guestBookService is not null && gbListView is not null)
        {
            @foreach (var gbPost in gbListView)
            {
                DateTime gbDate = gbPost.GbDate ?? new DateTime(1900, 01, 01);

                <div class="col mb-4">
                    <div class="card text-left text-dark">
                        <div class="card-header">
                            @if (gbPost.GbName is not null)
                                {@gbPost.GbName}
                            else
                                {@("Anonym användare")}
                        </div>
                        <div class="card-body">
                            <p class="card-text text-dark">@gbPost.GbText</p>
                        </div>
                        <div class="card-footer text-muted row">
                            <div class="text-left col-6">
                                @if (gbPost.GbHomepage is not null)
                                    {<span class="card-text badge badge-info text-dark">@gbPost.GbHomepage</span>}
                            </div>
                            <div class="text-right col-6">@gbDate.ToString("yyyy-MM-dd")</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@*<!-- Kräver att man har denna för validerings-scriptet ska läsas in... -->*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ContactForm.js"></script>
}