@*<!-- INFO-sidan -->*@
<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item active" aria-current="page">Info</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>Lite info...</p>