@model ContactFormModel

@section MetaData {
    <meta name="robots" content="noimageindex" />
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kontakta<i class="bi bi-mailbox mx-1"></i></li>
    </ol>
</nav>

<h1><i class="bi bi-mailbox"></i> @ViewData["Title"]</h1>

<div id="page-content" class="brodtext">
    <p>Om du vill kontakta mig kan du antingen höra av dig via mail eller telefon. </p>

    <address>
        <div class="col-sm-12 col-md-6">
            <p><i class="fa fa-map-marker fa-2x"></i> Adress: Hagmarksgatan 8, 70216 Örebro</p>
            <p><i class="fa fa-phone fa-2x"></i> Telefon: <a href="tel:019120412">019-12 04 12</a></p>
            <p><i class="fa fa-tablet fa-2x"></i> Mobil: <a href="tel:0708120412">0708-12 04 12</a></p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p><i class="fa fa-envelope-o fa-2x"></i> Epost: <a href="mailto:torbjorn_arvidson@hotmail.com">torbjorn_arvidson@hotmail.com</a></p>
            <p><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> Facebook: <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FArvidsonFoto%2F&tabs=timeline&width=300&height=70&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=223060987754416" width="300" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe><!--Facebook: <a href="http://Facebook.com/ArvidsonFoto" target="_blank">http://Facebook.com/ArvidsonFoto</a>--></p>
        </div>
    </address>
    <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
        <h2>Kontaktformulär</h2>
    </div>

    <div id="ContactForm">
        <partial name="_ContactForm" model="Model" />
    </div>
</div>

@*<!-- Kräver att man har denna för validerings-scriptet ska läsas in... -->*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ContactForm.js"></script>
}