@model ContactFormModel

@section MetaData {
    <meta name="robots" content="noimageindex" />
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Köp av bilder<i class="bi bi-cart3 mx-1"></i></li>
    </ol>
</nav>

<h1><i class="bi bi-cart3"></i> @ViewData["Title"]</h1>

<div id="page-content" class="brodtext">
    <p>Du kan ta kontakt med mig om du vill köpa bilder.</p>
    <p>Se även mera info under sidan <a href="/Info/Kontakta">Kontaktinformation</a>.</p>
    @*<!--<p>Ett urval av arkivets bilder samt många flera finns på bildbyrerna:</p>
        <p><img src="images/logo_Matton.jpg" height="64" /> <a href="http://www.matton.se/bilder/sok/torbjo3rn+arvidson.html" target="_blank">Matton Collection</a></p>
        <p><img src="images/logo_Nordic.jpg" height="64" /> <a href="http://nordicphotos.com/Torbj%C3%B6rn%20Arvidson-3204" target="_blank">Nordic Photos</a></p>
        <p><img src="images/logo_IBL.jpg" height="64" /> <a href="http://bildarkiv.iblbildbyra.se/fotoweb/Grid.fwx?archiveId=5000&search=(IPTC080%20contains(Torbj%C3%B6rn%20Arvidson%20%2F%20IBL%20Bildbyr%C3%A5))" target="_blank">IBL Bildbyrå</a></p>-->*@
    <div class="col-md-offset-4 col-md-8 col-lg-offset-3 col-lg-9"><h2>Kontaktformulär</h2></div>

    <div id="ContactForm">
        <partial name="_ContactForm" model="Model" />
    </div>
</div>

@*<!-- Kräver att man har denna för validerings-scriptet ska läsas in... -->*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ContactForm.js"></script>
}