@section MetaData {
    <meta name="robots" content="noimageindex" />
}

<nav id="page-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark-arvidsonfoto">
        <li class="breadcrumb-item"><a href="/">ArvidsonFoto.se</a></li>
        <li class="breadcrumb-item"><a href="/Info">Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Om mig<i class="bi bi-question-circle mx-1"></i></li>
    </ol>
</nav>

<h1><i class="bi bi-question-circle"></i> @ViewData["Title"]</h1>

<div id="page-content" class="row">
    <div class="brodtext col-xs-12 col-sm-7 col-md-8">
        <p>Mitt intresse för fåglar började i unga år och med närheten till klassiska fågelmarker så som Oset, Kvismaren och Tysslingen så tilltog intresset alltmer. </p>
        <p>Började tidigt att fotografera och dokumentera naturen runt om i Sverige. Med åren har det blivit många resor för fotografering runt om i världen. Jag är också en flitigt anlitad föredragshållare.</p>
    </div>
    <div class="bilden col-xs-12 col-sm-5 col-md-4">
        <figure class="figure btn btn-light">
            <img class="figure-img img-fluid rounded" width="350" height="3500" src="./img/Torbjorn2020.jpg" alt="Torbjörn Arvidson född 1953 och bor i Örebro" title="Torbjörn Arvidson född 1953 och bor i Örebro">
            <figcaption class="figure-caption text-center text-truncate">Torbjörn Arvidson f. 1953 och bor i Örebro.</figcaption>
        </figure>
    </div>
</div>