<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="ArvidsonFoto-version" content="v0.3.2 - https://github.com/pownas/ArvidsonFoto-MVC-NET5/tree/bf1453c " /> <!-- Bör vara: /commit/ eller /tree/ -->
    <title>@ViewData["Title"] - ArvidsonFoto.se</title>
    <base href="~/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" /> @*<!-- version: 4.5.3-dist -->*@
    <link rel="stylesheet" href="lib/jQuery.smartmenus/css/sm-core-css.css" /> @*<!-- version: 1.1.1 -->*@
    <link rel="stylesheet" href="lib/jQuery.smartmenus/css/sm-mint/sm-mint.css" /> @*<!-- version: 1.1.1 -->*@
    <link rel="stylesheet" href="lib/jQuery.smartmenus/css/sm-mint-addon.css" /> @*<!-- version: 1.1.1 -->*@
    <link rel="stylesheet" href="lib/bootstrap-icons/bootstrap-icons.css" /> @*<!-- version: 1.3.0 -->*@
    <link rel="stylesheet" href="lib/glightbox/css/glightbox.min.css" /> @*<!-- version: 3.0.7 -->*@
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>
    <main role="main" class="container pb-3">
        @RenderBody()
    </main>
    <footer class="footer overridden-footer border-top">
        <div class="container">
            <partial name="_Footer" />
        </div>
    </footer>
    <script src="lib/jquery/dist/jquery.min.js"></script> @*<!-- version: 3.5.1 -->*@
    <script src="lib/bootstrap/js/bootstrap.min.js"></script> @*<!-- version: 4.5.3-dist -->*@
    <script src="lib/jQuery.smartmenus/jquery.smartmenus.min.js"></script> @*<!-- version: 1.1.1 -->*@
    <script src="lib/jQuery.smartmenus/smartmenu.js"></script> @*<!-- version: 1.1.1 -->*@
    <script src="lib/glightbox/js/glightbox.min.js"></script> @*<!-- version: 3.0.7 -->*@
    <script src="js/site.js"></script>
    <script>
        var lightbox = GLightbox();
        lightbox.on('open', (target) => {
            console.log('lightbox opened');
        });
        //var lightboxDescription = GLightbox({
        //    selector: '.glightbox2'
        //});
        //var lightboxVideo = GLightbox({
        //    selector: '.glightbox3'
        //});
        //lightboxVideo.on('slide_changed', ({ prev, current }) => {
        //    console.log('Prev slide', prev);
        //    console.log('Current slide', current);

        //    const { slideIndex, slideNode, slideConfig, player } = current;

        //    if (player) {
        //        if (!player.ready) {
        //            // If player is not ready
        //            player.on('ready', (event) => {
        //                // Do something when video is ready
        //            });
        //        }

        //        player.on('play', (event) => {
        //            console.log('Started play');
        //        });

        //        player.on('volumechange', (event) => {
        //            console.log('Volume change');
        //        });

        //        player.on('ended', (event) => {
        //            console.log('Video ended');
        //        });
        //    }
        //});

        //var lightboxInlineIframe = GLightbox({
        //    selector: '.glightbox4'
        //});
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>