<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="ArvidsonFoto-version" content="v3.2.2 - Commit: https://github.com/pownas/ArvidsonFoto-MVC-NET5/commit/a979046 || Fil-trädet: https://github.com/pownas/ArvidsonFoto-MVC-NET5/tree/a979046 " />
    <partial name="_MetaData" />
    @await RenderSectionAsync("MetaData", required: false)
    <title>@ViewData["Title"] - ArvidsonFoto.se</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.min.css" /> @*<!-- Se info i "wwwroot/css/site.scss" för alla CSS-imports... -->*@
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>
    <main role="main" class="container-md pb-3">
        @RenderBody()
    </main>
    <footer class="footer overridden-footer border-top">
        <div class="container">
            <partial name="_Footer" />
        </div>
    </footer>
    <section id="Scripts">
        <script src="lib/jquery/dist/jquery.min.js"></script> @*<!-- version: 3.5.1 -->*@
        <script src="lib/bootstrap/js/bootstrap.min.js"></script> @*<!-- version: 4.5.3-dist -->*@
        <script src="lib/jQuery.smartmenus/jquery.smartmenus.min.js"></script> @*<!-- version: 1.1.1 -->*@
        <script src="lib/jQuery.smartmenus/smartmenu.js"></script> @*<!-- version: 1.1.1 -->*@
        <script src="lib/glightbox/js/glightbox.min.js"></script> @*<!-- version: 3.0.7 -->*@
        <script src="js/gLightBoxOptions.js"></script> @*<!-- Egna inställningar till glightbox -->*@
        <script src="js/site.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </section>
</body>
</html>