@using Microsoft.AspNetCore.Identity
@inject SignInManager<ArvidsonFotoUser> SignInManager
@inject UserManager<ArvidsonFotoUser> UserManager

<li class="divider"></li>
@if (SignInManager.IsSignedIn(User))
{
    string username = User.Identity.Name;
    string[] splittedUser = username.Split("@");
    username = splittedUser[0];

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Inloggad som: @username</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="bi bi-lock"></i>Logout</a>
    </li>
}
else
{
    @*//Ska avaktiveras helt!
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-unlock"></i> Login</a>
    </li>
}