@model ErrorViewModel
@{
    @if (Model.VisitedUrl is null)
    {
        ViewData["Title"] = "Error";
    }
    else
    {
        ViewData["Title"] = "Error 404 - Page not found";
    }
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.VisitedUrl is not null)
{
    <p>Error 404 - Page not found on URL: <strong>https://ArvidsonFoto.se/@Model.VisitedUrl</strong> </p>
}
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    If this error occurs alot, please <a href="/Info/Contact">contact me</a>. So my webmaster can fix the error...
</p>

<p>Go back to the startpage: <a href="/">ArvidsonFoto.se</a>.</p>