@model ErrorViewModel
@{
    if (Model.VisitedUrl is null)
        ViewData["Title"] = "Error";
    else
        ViewData["Title"] = "Error 404 - Page not found";
}

<h1 class="mt-3 text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.VisitedUrl is not null)
{
    <p class="text-break">
        <strong>Requested URL:</strong> <code><a href="/">ArvidsonFoto.se</a>@Model.VisitedUrl</code>
    </p>
}
    <p>
        <strong>Request time:</strong> <code>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</code>
    </p>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    If this error occurs alot for you, please <a href="/Info/Contact">contact me</a>. So I can get a fix for the error on the page.
</p>
<p>
    Go back to the startpage: <a href="/">ArvidsonFoto.se</a>.
</p>